@import url("../../styles/variables.css");

.btn {
  cursor: pointer;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  transition: box-shadow 1s;
  border: solid 0.5px var(--border-color);
}

#btn:hover {
  border: solid 0.5px var(--border-color);
  box-shadow: 0 10px 50px 0 var(--border-color);
}

.btn-icon {
  height: 2vw;
  width: 2vw;
}
