@import url("../../styles/variables.css");

.timer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: var(--primary-color) 0px 0px 0px 2px,
    var(--primary-color) 0px 4px 6px -1px,
    var(--primary-color) 0px 1px 0px inset;
  font-size: 1.5vw;
  padding: 0.7vw 1.4vw;
  gap: 0.5vw;
}
.timer__icon {
  height: 2vw;
  width: 2vw;
}
