@import url("../../styles/variables.css");

.card {
  position: relative;
  cursor: pointer;
  width: 7vw;
  height: 9.8vw;
  border-radius: 0.7vw;
  font-family: "Poker";
  font-size: 1.5vw;
}

.card-rank-left {
  text-align: left;
  margin-left: 0.2vw;
  padding-top: 0.3vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-rank-right {
  text-align: left;
  position: relative;
  transform: rotate(180deg);
  margin-right: 0.4vw;
  padding-bottom: 0.4vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-down {
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../../assets/images/playing-card.jpg");
  text-decoration: transparent;
  margin-bottom: -8.5vw;
}

.card-down > .card-content {
  visibility: hidden;
}

.card-selected {
  box-shadow: 0 14px 34px rgb(246 246 247 / 70%) !important;
  border: 2px solid var(--primary-color);
}

.card:hover {
  box-shadow: 4px 4px 10px var(--primary-color);
}

.card-suite-left,
.card-suite-right {
  margin-top: -0.3vw;
}

.heart {
  background: url("../../assets/images/heart.png") var(--secondary-color);
  color: var(--primary-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  display: flex;
  justify-content: space-between;
  border: solid 1px var(--primary-color);
}

@font-face {
  font-family: "Poker";
  src: local("Poker"), url(../../assets/font/CARDC___.TTF) format("truetype");
}
