.home {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.game-area {
  display: flex;
  flex-direction: column;
  gap: 70px;
  height: 31.9vw;
}
.game-top {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.card-stack {
  margin-bottom: -7vw;
}

/* Toastify css override */

.Toastify__toast--error {
  color: #000000 !important;
  font-weight: 700;
}
.Toastify__toast--error {
  background: rgba(206, 27, 7) !important;
}
.Toastify__progress-bar {
  background-color: #000000 !important;
}
