.home {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.game-area {
  display: flex;
  flex-direction: column;
  gap: 70px;
  height: 31.9vw;
}
.game-top {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.dealt-cards {
  display: flex;
  flex-direction: row;
}
.dealt-cards-down {
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../assets/playing-card.jpg");
  text-decoration: transparent;
  margin-right: -5.5vw;
  height: 9.4vw;
}
.game-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0.8vw 0;
}

.set-area {
  display: flex;
  flex-direction: row;
  gap: 2vw;
}
.card-stack {
  margin-bottom: -7vw;
}

/* Toastify css override */

.Toastify__toast--error {
  color: #000000 !important;
  font-weight: 700;
}
.Toastify__toast--error {
  background: rgba(206, 27, 7) !important;
}
.Toastify__progress-bar {
  background-color: #000000 !important;
}
