.home {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.game-area {
  display: flex;
  flex-direction: column;
  gap: 70px;
  height: 31.9vw;
}
.game-top {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.dealt-cards {
  display: flex;
  flex-direction: row;
}
.dealt-cards__down {
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../assets/playing-card.jpg");
  text-decoration: transparent;
  margin-right: -5.5vw;
  height: 9.4vw;
}
.game-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 4% 0;
}

.set-area {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.card__stack {
  margin-bottom: -7vw;
}
