.header {
  display: flex;
  flex-direction: row;
  color: rgba(206, 27, 7);
  background-color: black;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  height: 5vw;
  box-shadow: rgba(206, 27, 7, 0.4) 0px 0px 0px 2px,
    rgba(206, 27, 7, 0.4) 0px 4px 6px -1px,
    rgba(206, 27, 7, 0.4) 0px 1px 0px inset;
}

.header-element {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgba(206, 27, 7, 0.4) 0px 0px 0px 2px,
    rgba(206, 27, 7, 0.4) 0px 4px 6px -1px,
    rgba(206, 27, 7, 0.4) 0px 1px 0px inset;
  font-size: 1.5vw;
  padding: 0.7vw 1.4vw;
  gap: 0.5vw;
}

.icon {
  height: 2vw;
  width: 2vw;
}
.title {
  font-size: 2.5vw;
}
