.App {
  text-align: center;
  background: linear-gradient(
    90deg,
    rgba(1, 1, 1, 1) 0%,
    rgba(1, 1, 1, 0.4738270308123249) 50%,
    rgba(1, 1, 1, 1) 100%
  );
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
